.createSbu-container {
    max-width: 420px;
    margin: 0 auto;
    margin-top: 40px;    
}

.createSbu-form-button {
    width: 100%;
    margin-top: 15px;
}

.createSbu-form-button[disabled], .createSbu-form-button[disabled]:hover, .createSbu-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}